


$primary: #704214;   // brun foncé
$secondary: #a67b5b; // beige chaud
$success: #86754d;
$info: #bfa36f;
$warning: #c19a6b;
$danger: #8b5e3c;
$light: #f4ecd8;
$dark: #3b2f2f;
$body-bg: #f8f1e4;
$body-color: #3b2f2f;

@import "../../node_modules/bootstrap/scss/bootstrap";