#main > #viewer
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  gap: 0px;
  align-items: flex-start;
}


#main > #viewer > #display > #icons
{
  display: flex;
  position: absolute;
}

#main > #viewer > #display > #icons > a
{
  border-radius: 5px;
  border: black;
  height: 24px;
  width: 24px;
  background-color: rgba(240,240,240,.3);
  text-align: center;
  margin: 5px;
}

#main > #viewer > div
{
	width: 65vw;
	height: 65vw;
  max-height: 50vh;
  position: relative;
  
  background-color: grey;
}

#main > #viewer > #display
{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#main > #viewer > #list
{
	width: 20vw;
	max-width: 20vw;
	height: 60vw;
  max-height: 50vh;
  position: relative;
  overflow: auto;
  
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  scrollbar-width: thin;
}

#main > #viewer > #list > a
{
  /* border-style: solid; */
  width: 100%;
  display:block;
}


#main > #viewer > #list > a[selected]
{
  background-color: #ffffff1a;
}