#main > .viewer
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 0px;
  align-items: flex-start;
}

#main > .viewer > .display
{
	width: 60vw;
	height: 60vw;
  max-height: 50vh;
  /* padding-top: 100%; */
  position: relative;
  
  border-radius: 5px;
  background-color: black;
}

#main > .viewer > .list
{
	width: 20vw;
	max-width: 20vw;
	height: 60vw;
  max-height: 50vh;
  background-color: black;
  /* padding-top: 100%; */
  position: relative;
}
