#main > #viewer
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 0px;
  align-items: flex-start;
  border-radius: 5px;
}

#main > #viewer > div
{
	width: 60vw;
	height: 60vw;
  max-height: 50vh;
  position: relative;
  
  background-color: darkgrey;
}

#main > #viewer > #display
{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#main > #viewer > #list
{
	width: 20vw;
	max-width: 20vw;
	height: 60vw;
  max-height: 50vh;
  right: 0;
  margin-right: max(1vw, 10px);
  background-color: black;
  /* padding-top: 100%; */
  position: relative;
}

#main > #viewer > #list > a
{
  border-style: solid;
  width: 100%;
  display:block;
}
